ul {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

li span {
  padding: 4px 8px;
  display: inline-block;
  border-radius: 4px;
  background: #f5f5f5;
  margin: 4px 0;
}
